<h1>Hi <%= current_user.email %></h1>
<ul>

  <% @users.each do |user| %>
    <li>
      <%= user.email %>
        <%= render partial: "follow", locals: {user: user} %>
        <%= user.followings.count %>
    </li>
  <% end %>


</ul>

<% @notes.each do |note| %>
  <p><%= note.title %></p>
  <p><%= note.body %></p>
  <%= link_to "Delete note?", note_path(note), method: :delete %>
  <%= link_to "Edit note?", edit_note_path(note) %>
  <% if Like.find_by(note: note, user: current_user) %>
    <%= link_to "Unlike", unlike_note_path(note), method: :delete %>
        <%= note.likes.count %>    
  <% else %>
    <%= link_to "Like", like_note_path(note), method: :post %>
        <%= note.likes.count %>
  <% end %>
<% end %>


<%= link_to "Create new note", new_note_path %>

<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>